.backend {
  h2 {
    margin: 1em;
    color: var(--primario);
    font-size: 2em;
    text-align: center;
  }
  &__content {
    h4 {
      color: var(--rightCyan);
      width: auto;
      margin: 0.2em;
      font-size: 1.3em;
    }
    &__new {
      &__post {
        background: var(--white);
        float: left;
        border-bottom: 2px solid var(--fondo);
        padding: 1em;
        margin: 1em 0.5em;
        border-radius: 1.5em;
        -webkit-box-shadow: -5px 2px 22px -1px rgba(71, 69, 71, 0.71);
        -moz-box-shadow: -5px 2px 22px -1px rgba(71, 69, 71, 0.71);
        box-shadow: 0px 0px 10px -3px rgba(71, 69, 71, 0.71);
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 1.2em;
          overflow: hidden;
          float: left;
        }
        &__sumary {
          padding: 0.5em;
          text-align: center;
          position: relative;
          .title {
            font-size: 1.3em;
            color: var(--blue);
            margin: 0.3em 0;
          }
          .date {
            font-size: 0.8em;
            color: var(--black);
            background: var(--white);
            font-weight: 600;
            top: 0;
            padding: 0.3em;
            position: absolute;
            left: 0;
            z-index: 999;
          }
          .view {
            width: 18px;
            height: 14px;
            align-items: center;
            margin-left: 1em;
            margin-top: 3px;
            padding: 0.2em;
          }
          span.view-count {
            font-size: 0.9em;
            padding: 0.1em;
            position: relative;
            top: -5px;
            color: var(--grayBlue);
          }
          p {
            color: var(--whitegray);
            margin: 1.5em 0;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            line-height: 24px;
          }
          a {
            text-decoration: none;
            padding: 0.5em 1.5em;
            background: orange;
            font-size: 1.3em;
            color: white;
            border-radius: 0.5em;
          }
          a:hover {
            background: var(--primario);
          }
        }
      }
    }
    &__sidebar {
      margin: 0.5em 0;
      h5 {
        color: var(--blue);
        width: 100%;
        font-size: 1.3em;
        margin: 0;
        padding: 0.2em 0;
        background: var(--white);
      }
      &__post {
        width: 100%;
        height: auto;
        a {
          text-decoration: none;
          color: var(--lightBlack);
        }
        img {
          width: 100%;
          height: 172px;
          float: left;
          object-fit: cover;
          border-radius: 0;
          overflow: hidden;
        }
        &__detail {
          border-bottom: 2px solid #80808063;
          object-fit: cover;
          overflow: hidden;
          margin-bottom: 0.5em;
          padding: 0 0.3em;
          background: var(--white);
          .title {
            color: var(--blue);
            margin: 0;
            font-size: 1.2em;
            font-weight: 700;
            float: left;
            text-align: left;
            text-decoration: none;
          }
          .date {
            font-size: 0.8em;
            color: gray;
            font-weight: 600;
            padding: 0.3em;
            float: left;
          }
          .view {
            width: 18px;
            height: 14px;
            align-items: center;
            margin-left: 1em;
            margin-top: 3px;
            padding: 0.2em;
          }
          span.view-count {
            font-size: 0.9em;
            padding: 0.8em;
            color: var(--grayBlue);
          }
          a {
            text-decoration: none;
          }
          p {
            margin: 0.4em 0;
            color: var(--darkBlue);
            float: left;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      &__new {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &__post {
          float: left;
          &__detail {
            padding: 0.3em 0.5em;
            h2 {
            }
            p {
              color: black;
            }
          }
        }
      }
      &__sidebar {
        &__post {
          img {
          }
          &__detail {
            h2 {
            }
            a {
            }
          }
        }
      }
    }
  }
}
.instagram h3 {
  text-align: center;
  font-size: 2em;
  color: var(--primario);
}
