/*
* Name: Dibujo Digital
* Description: Blog
* Author: @elarsoft.es@gmail.com
* License URI: -_-
+ Version: v1.0
*/
.sub-menu {
  background: var(--primario);
  padding: 0.5em;
  text-align: right;
  display: none;
}
.sub-menu span {
  color: var(--whitegray);
}
.sub-menu img {
  width: 17px;
}
.sub-menu a {
  text-decoration: none;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  height: 50px;
  display: contents;
}
.header__logo {
  align-self: center;
  margin-left: 2em;
  padding: 0.1em 0;
  width: 55px;
}
.header .logo-title {
  text-decoration: none;
  font-size: 1.3em;
  position: relative;
  top: 0.5em;
  color: var(--jugo);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 14px 17px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4em;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 0;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--primario);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

/* header */
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--primario);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

/*-----------------------------------------cambio----menu hamburguesa------*/
.header .menu-btn:checked ~ .menu {
  max-height: fit-content;
  z-index: 2;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.hero {
  background: var(--hero);
}
.hero__title h1 {
  font-size: 2.5em;
  margin: 1em;
  font-weight: bold;
}
.hero__title h2 {
  font-size: 2em;
  text-align: center;
  color: #6c6c6c;
}
.hero__content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}
.hero__content__post {
  position: relative;
}
.hero__content__post a {
  display: flex;
}
.hero__content__post:after {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
}
.hero__content__post__sumary {
  margin-top: -6.5em;
  position: absolute;
  margin-left: 1em;
  color: ivory;
}
.hero__content__post__sumary p {
  float: left;
  position: relative;
  top: 0.5em;
  margin: 0 1em;
  color: var(--gray);
  font-size: 0.8em;
  padding: 0.1em;
  z-index: 3;
  border-radius: 2px;
}
.hero__content__post__sumary .title {
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  position: relative;
  margin: 0;
  z-index: 2;
  line-height: 1em;
}
.hero__content__post__sumary a {
  text-decoration: none;
  color: ivory;
}
@media screen and (min-width: 768px) {
  .hero__content {
    grid-template-columns: 1fr 2fr;
    display: grid;
  }
  .hero__content__loop:after {
    height: 280px;
    top: 0;
  }
  .hero__content img {
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 250px;
    float: right;
    border-radius: 1em;
    margin: 10px;
  }
  .hero__content .modelo img {
    width: auto;
    height: 600px;
  }
  .hero__content .loop {
    top: 5em;
    position: relative;
  }
}

.copy {
  background: var(--primario);
  text-align: center;
  font-size: 1.4em;
  font-weight: 400;
  color: var(--balck);
  padding: 1em;
  margin: 0;
}

.footer {
  width: 100%;
  background: var(--black);
  color: var(--hero);
  float: left;
  border-top: 4px solid var(--jugo);
}
.footer__content {
  padding: 0.5em;
  float: left;
}
.footer__content .title {
  font-size: 1.5em;
  margin: 0 1em;
  color: var(--jugo);
}
.footer__content img {
  float: left;
  margin: 0.2em;
}
.footer__content__categoria a {
  text-decoration: none;
  color: var(--black);
}
.footer__content__redes img {
  width: 25px;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .footer__content__logo p {
    font-size: 1.1em;
  }
}

.sub-menu {
  background: var(--primario);
  padding: 0.5em;
  text-align: right;
  display: none;
}
.sub-menu span {
  color: var(--whitegray);
}
.sub-menu img {
  width: 17px;
}
.sub-menu a {
  text-decoration: none;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  height: 50px;
  display: contents;
}
.header__logo {
  align-self: center;
  margin-left: 2em;
  padding: 0.1em 0;
  width: 55px;
}
.header .logo-title {
  text-decoration: none;
  font-size: 1.3em;
  position: relative;
  top: 0.5em;
  color: var(--jugo);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 14px 17px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4em;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 0;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--primario);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

/* header */
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--primario);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

/*-----------------------------------------cambio----menu hamburguesa------*/
.header .menu-btn:checked ~ .menu {
  max-height: fit-content;
  z-index: 2;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.backend h2 {
  margin: 1em;
  color: var(--primario);
  font-size: 2em;
  text-align: center;
}
.backend__content h4 {
  color: var(--rightCyan);
  width: auto;
  margin: 0.2em;
  font-size: 1.3em;
}
.backend__content__new__post {
  background: var(--white);
  float: left;
  border-bottom: 2px solid var(--fondo);
  padding: 1em;
  margin: 1em 0.5em;
  border-radius: 1.5em;
  -webkit-box-shadow: -5px 2px 22px -1px rgba(71, 69, 71, 0.71);
  -moz-box-shadow: -5px 2px 22px -1px rgba(71, 69, 71, 0.71);
  box-shadow: 0px 0px 10px -3px rgba(71, 69, 71, 0.71);
}
.backend__content__new__post img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.2em;
  overflow: hidden;
  float: left;
}
.backend__content__new__post__sumary {
  padding: 0.5em;
  text-align: center;
  position: relative;
}
.backend__content__new__post__sumary .title {
  font-size: 1.3em;
  color: var(--blue);
  margin: 0.3em 0;
}
.backend__content__new__post__sumary .date {
  font-size: 0.8em;
  color: var(--black);
  background: var(--white);
  font-weight: 600;
  top: 0;
  padding: 0.3em;
  position: absolute;
  left: 0;
  z-index: 999;
}
.backend__content__new__post__sumary .view {
  width: 18px;
  height: 14px;
  align-items: center;
  margin-left: 1em;
  margin-top: 3px;
  padding: 0.2em;
}
.backend__content__new__post__sumary span.view-count {
  font-size: 0.9em;
  padding: 0.1em;
  position: relative;
  top: -5px;
  color: var(--grayBlue);
}
.backend__content__new__post__sumary p {
  color: var(--whitegray);
  margin: 1.5em 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.backend__content__new__post__sumary a {
  text-decoration: none;
  padding: 0.5em 1.5em;
  background: orange;
  font-size: 1.3em;
  color: white;
  border-radius: 0.5em;
}
.backend__content__new__post__sumary a:hover {
  background: var(--primario);
}
.backend__content__sidebar {
  margin: 0.5em 0;
}
.backend__content__sidebar h5 {
  color: var(--blue);
  width: 100%;
  font-size: 1.3em;
  margin: 0;
  padding: 0.2em 0;
  background: var(--white);
}
.backend__content__sidebar__post {
  width: 100%;
  height: auto;
}
.backend__content__sidebar__post a {
  text-decoration: none;
  color: var(--lightBlack);
}
.backend__content__sidebar__post img {
  width: 100%;
  height: 172px;
  float: left;
  object-fit: cover;
  border-radius: 0;
  overflow: hidden;
}
.backend__content__sidebar__post__detail {
  border-bottom: 2px solid rgba(128, 128, 128, 0.3882352941);
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 0.5em;
  padding: 0 0.3em;
  background: var(--white);
}
.backend__content__sidebar__post__detail .title {
  color: var(--blue);
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
  float: left;
  text-align: left;
  text-decoration: none;
}
.backend__content__sidebar__post__detail .date {
  font-size: 0.8em;
  color: gray;
  font-weight: 600;
  padding: 0.3em;
  float: left;
}
.backend__content__sidebar__post__detail .view {
  width: 18px;
  height: 14px;
  align-items: center;
  margin-left: 1em;
  margin-top: 3px;
  padding: 0.2em;
}
.backend__content__sidebar__post__detail span.view-count {
  font-size: 0.9em;
  padding: 0.8em;
  color: var(--grayBlue);
}
.backend__content__sidebar__post__detail a {
  text-decoration: none;
}
.backend__content__sidebar__post__detail p {
  margin: 0.4em 0;
  color: var(--darkBlue);
  float: left;
}
@media screen and (min-width: 768px) {
  .backend__content__new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .backend__content__new__post {
    float: left;
  }
  .backend__content__new__post__detail {
    padding: 0.3em 0.5em;
  }
  .backend__content__new__post__detail p {
    color: black;
  }
}

.instagram h3 {
  text-align: center;
  font-size: 2em;
  color: var(--primario);
}

:root {
  --primario: hsl(39, 91%, 58%);
  --hero: hsl(32, 16%, 96%);
  --blue: hsl(205deg 12% 20%);
  --black: hsl(120, 1%, 17%);
  --white: hsl(0, 0%, 100%);
  --whitegray: hsl(0, 0%, 32%);
  --fondo: hsl(210, 25%, 98%);
  font-size: 16px;
  --wrapperSpace: 1.5em;
}

body {
  font-family: "DM Serif Display", serif;
  margin: 0;
  overflow-x: hidden;
  background: var(--fondo);
}

.wrapper {
  max-width: calc(1115px + 10em);
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
